*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    margin: 0 auto;
    max-width: 475px;
    height: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

body {
    grid-template-areas: 'searchBar' 'swiper' 'serviceResult' 'waiqin' 'jiaocheng' 'net' 'file' 'tel' 'noresult' 'zifei' 'question' 'tool' 'footer';
    align-content: space-evenly;
    width: 100%;
    min-width: 375px;
    max-width: 475px;
    margin: 0 auto;
    background-image: url("../img/back_yd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    z-index: 20;
    overflow-x: hidden;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

button {
    border: none;
}

/*清空按钮盒子*/
.clearButtonDiv {
    width: 12%;
    margin: 0 auto;
    padding: 3px 0;
    float: left;
}

/*清空按钮*/
.clearButton {
    word-break: keep-all;
    color: #6a6262;
    font-size: medium;
    height: 30px;
    line-height: 30px;
    border-radius: 6px;
}

#swiper {
    width: 94%;
    height: 100px;
    margin: auto;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.swiper_ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

/*通过传回的json对象长度自动设置动画*/
/*直接附加在id上，优先于.swiper_ul*/
/*例如animation: swiper_3pic 9s ease-out infinite;*/

.swiper_li {
    height: 100%;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    /*object-fit: cover;*/
}

.swiperImgDiv {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.swiperImg {
    width: 475px;
}

.swiperImgInfo {
    font-size: small;
    color: white;
    height: 20px;
    margin-top: -20px;
    line-height: 20px;
    padding-left: 12px;
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur(2px);
}

@keyframes swiper_2pic {
    0%, 50% {
        transform: translateX(0);
    }
    51%, 100% {
        transform: translateX(calc(-100%));
    }
}

@keyframes swiper_3pic {
    0%, 33% {
        transform: translateX(0);
    }
    34%, 66% {
        transform: translateX(calc(-100%));
    }
    67%, 100% {
        transform: translateX(-200%);
    }
}

@keyframes swiper_4pic {
    0%, 25% {
        transform: translateX(0);
    }
    26%, 50% {
        transform: translateX(calc(-100%));
    }
    51%, 75% {
        transform: translateX(-200%);
    }
    76%, 100% {
        transform: translateX(-300%);
    }
}

@keyframes swiper_5pic {
    0%, 20% {
        transform: translateX(0);
    }
    21%, 40% {
        transform: translateX(calc(-100%));
    }
    41%, 60% {
        transform: translateX(-200%);
    }
    61%, 80% {
        transform: translateX(-300%);
    }
    81%, 100% {
        transform: translateX(-400%);
    }
}

@keyframes swiper_6pic {
    0%, 16% {
        transform: translateX(0);
    }
    17%, 32% {
        transform: translateX(calc(-100%));
    }
    33%, 48% {
        transform: translateX(-200%);
    }
    49%, 64% {
        transform: translateX(-300%);
    }
    65%, 80% {
        transform: translateX(-400%);
    }
    81%, 100% {
        transform: translateX(-500%);
    }
}

/*搜索框云大徽标盒子*/
.iconSearchDiv {
    width: 10%;
    height: 34px;
    float: left;
}

/*搜索框云大徽标*/
.iconSearch {
    width: 34px;
    border-radius: 50%;
}

/*搜索框盒子*/
.inputDiv {
    text-align: center;
    width: 77%;
    height: 34px;
    margin-right: 1%;
    float: left;
    border-radius: 15px;
}

/*搜索框*/
.myInput {
    padding-left: 12%;
    width: 100%;
    font-size: small;
    outline: none;
    text-align: left;
    line-height: 34px;
    background-color: unset;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 6px 50%;
    border-radius: 16px;
    color: black;
    border: 1px solid lightgray;
}

/*弹出的结果div盒子*/
.resultCard {
    background-color: white;
    width: 98%;
    margin: auto;
    border-radius: 15px;
}

/*搜索结果样式*/
.result {
    width: 98%;
    margin: 5px auto auto auto;
    padding: 0 0 0 10px;
    height: auto;
    font-size: medium;
    line-height: 15px;
    z-index: 25;
    position: relative;
    text-align: left;
    border-radius: 10px;
    color: black;
}

/*以下是搜索结果li的样式*/
/*1.申请附件搜索结果类Li*/
.filesResultCard {
    background-image: url("../img/files_back.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 150px;
    grid-area: file;
}

/*li样式*/
.files {
    list-style: none;
    padding: 15px;
    line-height: 20px;
    background-image: url("../img/files.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 0 50%;
    border-bottom: 1px #d4d2ca dashed;
}

#filesNum {
    text-align: center;
    color: #555353;
    line-height: 35px;
    font-size: small;
}

/*2.外勤服务类结果*/
.waiqinResultCard {
    background-image: url("../img/waiqin_back.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 150px;
    grid-area: waiqin;
}

/*li样式*/
.waiqin {
    list-style: none;
    padding: 15px;
    line-height: 20px;
    background-image: url("../img/waiqin.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 0 50%;
    border-bottom: 1px #d4d2ca dashed;
}

#waiqinNum {
    text-align: center;
    color: #555353;
    line-height: 35px;
    font-size: small;
}

/*3.服务类结果li*/
.serviceResultCard {
    background-image: url("../img/service_back.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 150px;
    grid-area: serviceResult;
}

/*li样式*/
.service {
    list-style: none;
    padding: 15px;
    line-height: 20px;
    background-image: url("../img/serve.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0 50%;
    border-bottom: 1px #d4d2ca dashed;
}

#serviceNum {
    text-align: center;
    color: #555353;
    line-height: 35px;
    font-size: small;
}

/*4.网络故障类结果li*/
.netproResultCard {
    background-image: url("../img/netpro_back.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 150px;
    grid-area: net;
}

/*li样式*/
.netpro {
    list-style: none;
    padding: 15px;
    line-height: 20px;
    background-image: url("../img/netPro.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 0 50%;
    border-bottom: 1px #d4d2ca dashed;
}

#netproNum {
    text-align: center;
    color: #555353;
    line-height: 35px;
    font-size: small;
}

/*5.业务教程类结果*/
.jiaochengResultCard {
    background-image: url("../img/jiaocheng_back.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 150px;
    grid-area: jiaocheng;
}

/*li样式*/
.jiaocheng {
    list-style: none;
    padding: 15px;
    line-height: 20px;
    background-image: url("../img/jiaocheng.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 0 50%;
    border-bottom: 1px #d4d2ca dashed;
}

#jiaochengNum {
    text-align: center;
    color: #555353;
    line-height: 35px;
    font-size: small;
}

/*6.通讯录类搜索结果li*/
.telResultCard {
    background-image: url("../img/tel_back.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 150px;
    grid-area: tel;
}

/*li样式*/
.tel {
    list-style: none;
    padding: 15px;
    padding-left: 0;
    line-height: 30px;
    border-bottom: 1px #d4d2ca dashed;
}

/*电话结果条数*/
#telNum {
    text-align: center;
    color: #555353;
    line-height: 30px;
    font-size: small;

}

/*电话号码阿拉伯数字样式*/
.telNum {
    padding-left: 10px;
    font-size: large;
    color: black;
}

/*呼叫按钮*/
.callButton {
    line-height: 15px;
    background-color: rgba(73, 239, 110, 0.8);
    background-image: url("../img/telButtonBack.png");
    background-position: 2px 50%;
    background-size: auto 15px;
    background-repeat: no-repeat;
    color: white;
    border-radius: 3px;
    font-size: medium;
    padding: 8px 6px;
    padding-left: 24px;
    float: right;
    margin-top: -15px;
    width: auto;
}

/*未找到结果样式*/
#noResult {
    grid-area: noresult;
}

.noResult {
    text-align: center;
    border-radius: 8px;
    color: rgba(28, 34, 255, 1.0);
    width: 95%;
    line-height: 35px;
}

.noResultImg {
    margin-top: 15px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #6a6262;
}

/*滚动条样式*/
::-webkit-scrollbar {
    width: 1px
}

::-webkit-scrollbar-track {
    background-color: #bee1eb;
}

::-webkit-scrollbar-thumb {
    background-color: #00aff0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9c3
}

::-webkit-scrollbar-thumb:active {
    background-color: #00aff0
}


/*弹出窗口样式*/
.ulForItemShow {
    height: 85%;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    overflow: hidden;
    /*overflow-y: scroll;*/
    /*overflow-style: marquee-line;*/
    background-color: white;
    border-radius: 15px 15px 0 0;
    animation: ulShow 300ms ease-in;
    -webkit-animation: ulShow ease-in-out 300ms
}

/*标题盒子*/
.Div_ulForItemShow_title {
    width: 100%;
    height: 8%;
    background-size: 30px;
    background-image: url('../img/close.png');
    background-repeat: no-repeat;
    background-position: 97% 12px;
}

/*标题样式*/
.ulForItemShow_title {
    /*font-weight: bold;*/
    font-size: large;
    height: 56px;
    line-height: 56px;
    display: block;
    text-align: center;
}

/*标题下的内容区域*/
.Div_content {
    height: 92%;
    padding: 2px 0;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-style: marquee-line;
}

/*选项盒子*/
.Div_liForItemShow {
    width: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px 6px;
    justify-content: space-evenly;
}

/*选项样式*/
.liForItemShow {
    height: 40px;
    line-height: 40px;
    font-style: normal;
    text-align: left;
    font-size: medium;
    /*font-weight: bold;*/
    margin: 0 auto;
    padding: 0 8px;
    border-radius: 3px;
    overflow-x: hidden;
    width: 100%;
    background-color: rgba(18, 150, 219, 0.80);
    color: white
}

.success_bottom {
    width: 100%;
    height: 4px;
    animation: success_bottom 2400ms ease-in-out infinite;
}

.fail_bottom {
    width: 100%;
    height: 4px;
    animation: fail_bottom 2400ms ease-in-out infinite;
}

/*链路监控-盒子*/
.Div_sw {
    width: 100%;
    margin: 10px auto;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 4px 4px;
    justify-content: space-evenly;
}

/*链路监控-每一项样式*/
.sw {
    height: 30px;
    line-height: 30px;
    font-style: normal;
    text-align: left;
    font-size: small;
    margin: 0 auto;
    padding: 0 8px;
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}

/*接口通信结果样式*/
.status {
    font-size: small;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
}

/*flag样式，success/fail*/
.success {
    color: white;
    background: #4dd2e2;
    padding: 0 4px;
    border-radius: 4px;
    display: inline;
}

.fail {
    color: white;
    background-color: #ffc835;
    padding: 0 4px;
    border-radius: 4px;
    display: inline;
}

/*结果状态statusText*/
.OK {
    color: white;
    background-color: #0ee252;
    padding: 0 4px;
    border-radius: 4px;
    display: inline;
}

.error {
    color: white;
    background-color: #e22d2f;
    padding: 0 4px;
    border-radius: 4px;
    display: inline;
}

/*正常机房*/
.true {
    background-color: rgba(18, 150, 219, 0.80);
}

/*异常机房*/
.false {
    background-color: rgba(219, 69, 52, 0.6);
}

/*机房名称*/
.sw_position {
    color: white;

}

/*选项-链接样式*/
.liForItemShow > a {
    color: white;
}

/*选项-图片盒子*/
.liForItemShowImgDiv {
    text-align: center;
}

/*说明文字*/
.ulForItemShow_info {
    text-align: left;
    width: 96%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 16px 12px;
    line-height: 25px;
    border-radius: 10px;
    color: black;
    font-size: medium;
}


/*选项-重要提示性文字*/
.tip {
    background-color: rgba(18, 150, 219, 0.1);
}


/*公用盒子样式*/
.commonDiv {
    background-color: white;
    width: 94%;
    border-radius: 14px;
    margin: 12px auto;
    padding: 6px 2px;
}

/*背景图片-银杏*/
.commonBack {
    background-image: url("../img/topimg.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
}

.backPosition-85 {
    background-position: 85% -24px;
}

.backPosition-55 {
    background-position: 55% -24px;
}

.backPosition-45 {
    background-position: 45% -24px;
}

#searchBar {
    grid-area: search;
    width: 94%;
    max-width: 475px;
    margin: 6px auto;
    padding: 5px 5px;
    height: 46px;
    box-sizing: border-box;
    top: 0;
    text-align: center;
    z-index: 101;
    border-radius: 8px;
}

#swiper {
    grid-area: swiper;
}

#zifei {
    grid-area: zifei;
}

#question {
    grid-area: question;
}

#tool {
    grid-area: tool;
}

#itc {
    grid-area: itc;
}

#serve_display {
    grid-area: serve;
}

#footer {
    grid-area: footer;
    width: 96%;
    padding: 10px;
    margin: auto;
    bottom: 10px !important;
    text-align: center;
    object-fit: contain;
    color: white;
    font-size: small;
    line-height: 22px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

/*区块盒子内部的样式*/
.gridMobile {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-gap: 30px 18px;
    padding: 14px 4px;
}

/*-----服务图标------*/
/*图标和标题居中对齐*/
.serverIconDiv {
    text-align: center;
}

.serveIconMobile {
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    background-color: #efefef;
    border-radius: 6px;
    padding: 3px;
    align-items: center;
    justify-content: center;
}

/*用于占位的图标盒子*/
.serveIcon_space {
    width: 36px;
    height: 36px;
    padding: 4px;
    border: none;
}

/*图片样式*/
.liForItemShow_img {
    margin-top: 15px;
    border-radius: 5px;
    width: 35%;
}

/*图片说明*/
.li_info {
    list-style: none;
    color: #1d1c1c;
    font-size: x-small;
    line-height: 20px;
    border-radius: 5px;
}

/*图标盒子*/
.box {
    border-radius: 6px !important;
}

/*标题盒子*/
.TaocanDiv {
    width: 40% !important;
    float: left;
    box-sizing: border-box;
}

/*滚动消息盒子*/
.li_tipDiv {
    background-color: rgba(160, 208, 255, 0.40);
    border-radius: 6px 15px 15px 6px;
    width: 50%;
    height: 28px;
    padding: 2px 0;
    float: right;
    box-sizing: border-box;
}

.li_ulDiv {
    height: 24px;
    overflow: hidden;
    background-image: url("../img/notice.png");
    background-position: 4px 50%;
    background-repeat: no-repeat;
    background-size: auto 21px;
}

/*滚动消息通知*/
.li_tip {
    list-style: none;
    padding-left: 28px;
    height: 24px;
    line-height: 24px;
    font-size: small;
    animation: liMoveUp 10s ease-in-out infinite;
}

.li_tip {
    color: black;
}

.li_tip > a {
    color: black;
}

@keyframes liMoveUp {
    0% {
        transform: translateY(0);
    }
    35% {
        transform: translateY(-24px);
    }
    70% {
        transform: translateY(-48px);
    }
    100% {
        transform: translateY(-72px);
    }
}

.item {
    margin-top: 4px;
    orphans: 4;
    color: #585858;
    font-size: small;
    line-height: 22px;
    padding: 5px 15px;
}

.itemtitle {
    font-size: medium;
    color: black;
    padding-top: 10px;
}

.imgInfo {
    margin-top: 0;
    font-size: xx-small;
    text-align: center;
}


*, ::after, ::before {
    box-sizing: border-box;
}

/*二维码样式*/
.itcImg {
    width: 30%;
    border-radius: 15px;
}

/*套餐资费图*/
.imgForShouce {
    object-fit: contain;
    width: 100%;
    margin-top: 5px;
}

/*服务标题文字*/
/*1. word-break:break-all; 只对英文起作用，以字母作为换行依据*/
/*2. word-wrap:break-word; 只对英文起作用，以单词作为换行依据*/
/*3. white-space:pre-wrap; 只对中文起作用，强制换行*/
/*4. white-space:nowrap; 强制不换行，都起作用*/
/*5. white-space:nowrap; overflow:hidden; text-overflow:ellipsis; 不换行，超出部分隐藏且以省略号形式出现*/
.linkText {
    font-size: medium;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.linkTextInfo {
    padding: 6px 0;
    font-size: small;
    color: rgba(128, 128, 128, 0.80);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#resultDivAll {
    /*display: grid;*/
    width: 100%;
}

/*区块标题*/
.title {
    font-size: large;
    font-weight: 500;
    line-height: 25px;
    padding: 6px 10px !important;
}

/*未拉取到数据前的加载动画*/
.loadingAnimation {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #1296db;
}

/*问题及答案显示盒子*/
.questionDiv {
    width: 94%;
    margin: auto;
    max-height: 350px;
    overflow-y: scroll;
    padding: 0 6px;
    font-size: medium;
    /*animation: ulShow 2000ms ease-in-out;*/
    background-color: rgba(157, 194, 255, 0.20);
}

/*常见问题样式*/
.li_question {
    list-style: none;
    line-height: 28px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.33);
    color: #6a6262;
    width: 100%;
    margin: 0 auto;
    padding: 8px 28px 8px 8px;
    background-image: url("../img/goto.png");
    background-repeat: no-repeat;
    background-size: auto 18px;
    background-position: 100% 50%;
}

/*分类型问题列表样式*/
.type_question {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 6px;
    padding-left: 38px;
    line-height: 28px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.33);
    color: #4e4646;
    background-image: url("../img/type_listIcon.png");
    background-repeat: no-repeat;
    background-size: auto 22px;
    background-position: 8px 50%;
}

/*文章型列表样式*/
.aritcle_question {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 6px;
    padding-left: 38px;
    line-height: 28px;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.33);
    color: #4e4646;
    background-image: url("../img/aritcle_listIcon.png");
    background-repeat: no-repeat;
    background-size: auto 20px;
    background-position: 8px 50%;
}

/*推荐文章左侧图标盒子*/
.iconDiv {
    width: 10%;
    height: 30px;
    background-image: url("../img/usual.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*推荐文章问题文字盒子*/
.question_content {
    width: 90%;
    padding-left: 10px;
}

/*收起图标*/
.li_close {
    list-style: none;
    padding: 10px 0;
    color: rgba(28, 34, 255, 0.7);
    text-align: center;
    animation: li_closeMove 1500ms ease-in-out infinite;
}

/*点按图标后向上抛出*/
@keyframes upAndDown {
    10% {
        transform: translateY(-5px);
    }
    20% {
        transform: translateY(-9px);
    }
    30% {
        transform: translateY(-12px);
    }
    40% {
        transform: translateY(-14px);
    }
    50% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-15px);
    }
    70% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(-14px);
    }
    90% {
        transform: translateY(-9px);
    }
    100% {
        transform: translateY(0);
    }
}

/*问题盒子收起按钮上下浮动*/
@keyframes li_closeMove {
    0% {
        transform: translateY(-1px);
    }
    10% {
        transform: translateY(-2px);
    }
    20% {
        transform: translateY(-3px);
    }
    30% {
        transform: translateY(-4px);
    }
    40% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(1px);
    }
    70% {
        transform: translateY(2px);
    }
    80% {
        transform: translateY(3px);
    }
    90% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

/*主页内容缩放*/
@keyframes bodyMove {
    from {
        padding: 0;
    }
    to {
        padding: 80px 30px;
    }
}

/*主页内容回弹至正常*/
@keyframes bodyBack {
    from {
        padding: 80px 30px;
    }
    to {
        padding: 0;
    }

}

@keyframes ulShow {
    from {
        bottom: -80%
    }
    to {
        bottom: 0
    }
}

@keyframes success_bottom {
    0% {
        background-image: linear-gradient(to right, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    5% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    10% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    15% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    20% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    25% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    30% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    35% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    40% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff);
    }
    45% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff);
    }
    50% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267);
    }
    55% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff);
    }
    60% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    65% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    70% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    75% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    80% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    85% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    90% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    95% {
        background-image: linear-gradient(to right, #ffffff, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    100% {
        background-image: linear-gradient(to right, #00E267, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
}

@keyframes fail_bottom {
    0% {
        background-image: linear-gradient(to right, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    5% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    10% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    15% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    20% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    25% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    30% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    35% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    40% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff);
    }
    45% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff);
    }
    50% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d);
    }
    55% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff);
    }
    60% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    65% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    70% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    75% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    80% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    85% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    90% {
        background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    95% {
        background-image: linear-gradient(to right, #ffffff, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
    100% {
        background-image: linear-gradient(to right, #e2413d, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    }
}

